* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  color: rgb(255, 255, 255);
  background: rgb(107, 107, 107);
}

.page {
  margin: 0 35rem;
  background: #585858;

  -webkit-box-shadow: 0px 1px 18px 3px rgba(51, 51, 51, 1);
  -moz-box-shadow: 0px 1px 18px 3px rgba(51, 51, 51, 1);
  box-shadow: 0px 1px 18px 3px rgba(51, 51, 51, 1);
}

nav {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 5rem 10rem;
  background: #252525;
}

h1 {
  font-size: 4rem;
  color: rgb(255, 255, 255);

  transition: 0.3s;
}

h1:hover {
  font-size: 5rem;
  color: #fff000;
}

#logo {
  max-width: 7rem;
  border: 2px solid white;
  border-radius: 1rem;

  transition: 0.2s;
}

#logo:hover {
  max-width: 8rem;
  border: solid #fff000 0.2rem;
}

.logo-name {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.to-browse {
  display: flex;
  gap: 7rem;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background: #202020;

  border-bottom: 1px solid rgb(255, 255, 255);
}

a {
  text-decoration: none;
  transition: 0.1s;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

a:hover {
  font-size: 2.3rem;
  color: #fff000;
}

.matchs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 5rem;

  gap: 1rem;
}

.jogo {
  display: flex;
  flex-direction: column;
  height: 10rem;
  margin-top: 1rem;
  border: solid white 2px;
  border-radius: 1rem;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;

  cursor: pointer;
  transition: 0.2s;
}

.jogo:hover {
  border: solid #fff000 2px;
  background: rgb(25, 25, 25);

  fill: #fff000;
}

.separationOne {
  border: 1px solid white;
  width: max-content;
  border-radius: 1rem;
  transition: 0.2s;
}

.separationOne:hover {
  border: solid #fff000 1px;
}

.time {
  align-items: center;
  width: 15rem;
  padding: 0.1rem;
  text-align: center;
  transition: 0.2s;
}

.time:hover {
  color: #fff000;
}

.time p {
  font-size: 1.4rem;
}

.separationTwo {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 5.5rem;

  gap: 1rem;
}

.teamOne img {
  max-width: 5.5rem;
}

#x {
  max-width: 3.5rem;
}

.teamTwo img {
  max-width: 5.5rem;
}

main {
  padding: 1rem 5rem;
  height: max-content;
  border-radius: 0.5rem;

  text-align: center;
}

main img {
  max-width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.texts {
  max-width: 110rem;
  text-align: left;
  padding: 0 1rem;
}

.texts h2 {
  font-size: 5rem;
}

.news1 {
  border: 1px #ffffff solid;
  background: rgb(25, 25, 25);
  padding: 0;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;

  transition: 0.1s;
}

.news1:hover {
  border: 1px #fff000 solid;
  background: #0c0c0c;
  color: #fff000;
}

.news2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 2rem;
}

.grid {
  border: 1px #ffffff solid;
  background: rgb(25, 25, 25);
  border-radius: 0.5rem;
  transition: 0.05s;

  cursor: pointer;
}

.grid:hover {
  border: 1px #fff000 solid;
  background: #0c0c0c;
  color: #fff000;
}
